

react/node_modules/
react/.next/**/*.*
react/.next/trace
react/package-lock.json
node_modules/

__pycache__/


venv/
jupyter/postgis_schemas/.env

IBTrACS/last-modified.txt
sarracenia config_file/*.log
sarracenia config_file/*.log.*
oryx-build-commands.txt

**caching.log**
.env
.venv
jupyter/postgis_schemas/integrate_ibtracs.log
jupyter/postgis_schemas/sandbox.ipynb
