data/

react/node_modules/
react/.next/**/*.*
react/.next/trace
react/package-lock.json

__pycache__/

station-data/*
!station-data/storm_list.csv

venv/
jupyter/postgis_schemas/.env

IBTrACS/last-modified.txt
sarracenia config_file/file_watcher_log.log
sarracenia config_file/.env
sarracenia config_file/TODO
sarracenia config_file/file_watcher_log.log.1
sarracenia config_file/file_watcher_log.log.2
sarracenia config_file/file_watcher copy.py
*.10
*.3
sarracenia config_file/file_watcher_log.log.9
sarracenia config_file/file_watcher_log.log.8
sarracenia config_file/file_watcher_log.log.7
sarracenia config_file/file_watcher_log.log.6
sarracenia config_file/file_watcher_log.log.4
sarracenia config_file/file_watcher_log.log.5
