data/

react/node_modules/
react/.next/**/*.*
react/.next/trace
react/package-lock.json

__pycache__/

station-data/*
!station-data/storm_list.csv

venv/
jupyter/postgis_schemas/.env

IBTrACS/last-modified.txt
sarracenia config_file/*.log
sarracenia config_file/*.log.*

*.log
*.log.[0-9]*