.drawer {
    position: fixed;
    top: 0;
    bottom:0;
    background-color: #f5f5f5;
    z-index: 1800;
    overflow: scroll;
    
    
}

.drawer.left {
    left: 0;
    border-right: 2px solid darkgrey;
}

.drawer.right {
    right: 0;
    border-left: 2px solid darkgrey;
}

.drawer_interior {
    
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}






.openButton{
    position: absolute;
    top: 78px;
    left: 10px;
    background-color: #e55162; /* Background color */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor */
    z-index: 7001; /* Above drawer */
    transition: background-color 0.3s ease; /* Smooth hover transition */
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50%; /* This makes the button round */
    width: 40px; /* Adjust the size */
    min-width: auto;
    height: 40px; /* Adjust the size */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    
}
.openButton:hover {
    background-color: whitesmoke; /* Darker color on hover */
    color: #e55162;
    font-weight: bolder;
}
/* If the drawer is on the right */
.drawer.right .openButton {
    left: auto;
    right: 0; /* Align to the right edge */
}
/* Rotated Text Inside the Vertical Bar */






