.drawer {
    position: absolute;
    top: 0;
    width: 23%;
    height: 95%;
    background-color: white;
    z-index: 7000;
    margin-top:3%;
    padding: 1%;
}

.drawer.left {
    left: 0;
    border-right: 2px solid darkgrey;
}

.drawer.right {
    right: 0;
    border-left: 2px solid darkgrey;
}