/* General Body Styling */

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* Header Styling */

header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #e55162; /* Light red background for header */
  z-index: 9000; /* High z-index to ensure header stays on top */
  height: 60px;
  
}

header img.logo {
  float: left; /* Align logo to the left */
  background-color: white; /* White background for logo */
  height: 60px; /* Matches header height */
  width: 80%; /* absolute width for logo */
  padding-left: 1.5rem; /* Spacing on left */
  padding-right: 1.5rem; /* Spacing on right */
  min-width: 256px;

}

/* Navigation Styling */

header nav {
  float: left; /* Align navigation links to the left */
  /*font-size: 1.25rem;  Slightly larger font for readability */
  width:100%

}
header_nav{
  float: left; /* Align navigation links to the left */
  width: 100%;
  display: block;
  justify-content: space-between;
  padding: 0.1rem;
  align-items: center;

}
.header_nav .menu_icon_small_screen{
  color:#ffffff;
  fill:#ffffff;
}

.header_nav ul{
  margin: 0;
  padding: 0;
  gap: 1;
  float: left; /* Align navigation links to the left */
  /*font-size: 1.25rem;  Slightly larger font for readability */
  width:100%

}
header_nav{
  float: left; /* Align navigation links to the left */
  width: 100%;
  display: block;
  justify-content: space-between;
  padding: 0.1rem;
  align-items: center;

}
.header_nav .menu_icon_small_screen{
  color:#ffffff;
  fill:#ffffff;
}

.header_nav ul{
  margin: 0;
  padding: 0;
  gap: 1;
}



header nav ul {
  
  
}

header nav ul li {
  float: left; /* Display navigation items inline */
  margin-right: 0.5rem; /* Space between links */
  list-style-type: none; /* Remove bullets from list items */
  
  
  
}

header nav ul li a {
  color: white; /* White text for links */
  text-decoration: none; /* Remove underline by default */
  
}



header nav ul li a::after {
  content: " /"; /* Add slash separator between links */
  
}

header nav ul li:last-child a::after {
  content: ""; /* Remove separator for the last link */
  
}

/* Footer Styling */
footer {
  position: fixed; /* Stick footer to the bottom */
  width: 100%; /* Full-width footer */
  /*height: 50px;  absolute height */
  bottom: 0px; /* Positioned at the very bottom */
  z-index: 8000; /* High z-index for visibility */
  background-color: black; /* Black footer background */
  
}

/* Map Container Styling */
.map_container {
  height: 100vh; /* Full viewport height for map */
  width: 100%; /* Full width for map container */
  overflow: hidden;
  
}

.inner_container {
  height: 100%; /* Fill height of the parent container */
  width: 100%; /* Fill width of the parent container */
  position: fixed;
  
}

/* Leaflet Control Position Adjustments */
.leaflet-container{
  height: 100%;
  width: 100%;
  position: fixed;
  
}

.leaflet-control-container .leaflet-top {
  top: 95px; /* Adjust top to avoid overlapping header */
}

.leaflet-control-container .leaflet-bottom {
  bottom: 50px; /* Adjust bottom to avoid overlapping footer */
  
}




/* Map Layer Styling */
.line-of-travel {
  position: relative;
  stroke: green; /* Green color for travel path */
}

.sea-height {
  position: relative;
  stroke: navy; /* Navy blue outline for sea height */
  fill: navy; /* Navy blue fill */
  
}

.wind-rad-34 {
  position: relative;
  stroke: yellow; /* Yellow color for wind radius of 34 knots */
  fill: yellow; /* Fill with yellow */
  
}

.wind-rad-48,
.wind-rad-50 {
  position: relative;
  stroke: orange; /* Orange for 48/50 knot wind radius */
  fill: orange; /* Fill with orange */
}

.wind-rad-64 {
  position: relative;
  stroke: red; /* Red for 64 knot wind radius */
  fill: red; /* Fill with red */
  
}

/* Info Pane Styling */
.info_pane {
  position: absolute;
   /*top: 0;*/
   /* margin-top: 10%; Add space from the top */
  right: 0;
  background-color: white; /* White background for better readability */
  color: black; /* Black text */
  border: 3px solid gray; /* Gray border for distinction */
  border-right: 0; /* No border on the right edge */
  z-index: 500; /* Layer above map but below header/footer */
  padding: 1rem; /* Internal padding */
  border-top-left-radius: 1rem; /* Rounded top-left corner */
  border-bottom-left-radius: 1rem; /* Rounded bottom-left corner */
  overflow: auto;
  
}


/* Storm Timeline Styling */
#storm_timeline ul li {
  padding: 2px; /* Space within each list item */
  margin-left: 0px; /* No margin on the left */
  border-radius: 4px; /* Rounded corners */
}



#storm_timeline ul li.selected {
  font-weight: bold; /* Bold text for selected item */
  border: 1px solid gray; /* Add border for clarity */
  background-color: #DDD; /* Slight gray background */
  font-weight: bold; /* Bold text for selected item */
  
}

.selected_storm a {
  font-weight: bold; /* Bold text for selected storms */
  
}


/* Storm Card Styling */
.storm_card {
  margin-bottom: 1.5rem; /* Space below each card */
  border-top: 1px solid black; /* Top border for separation */
  border-bottom: 1px solid black; /* Bottom border for separation */
  font-size: 0.9rem; /* Slightly smaller font */
  
}

.storm_card.selected_storm {
  background-color: #EEE; /* Light gray background for selected storm */
  padding-left: 0.5rem; /* Indent selected storm card */
  font-size: 1.1rem; /* Slightly larger font for emphasis */
  
}

/* Station Dashboard Styling */
.station_dashboard {
  background: white; /* White background for clarity */
  color: black; /* Black text for readability */
  padding: 1rem; /* Internal padding */
  position: relative; 
  flex-direction: column; /* Stack the header and body vertically*/
  height: 100%;

}

.combined_dashboard_small {
  background: white; /* White background for clarity */
  color: black; /* Black text for readability */
  padding: 1rem; /* Internal padding */
  position: relative; 
  flex-direction: column; /* Stack the header and body vertically*/
  position: fixed; /* Positioned at the bottom */
  z-index: 1799; /* High z-index to overlay the map */


}
.dashboards {
  position: fixed; /* Positioned at the bottom */
  /*bottom: 50px;  Above the footer */
  z-index: 1799; /* High z-index to overlay the map */
  /*width: 80%;  80% width for balance */
  
  
}

/* When drawer is open (add a class dynamically) */
.drawerOpen {
  width: calc(100vw - 258px);
  margin-left: 258px;
}

/* When drawer is closed */
.drawerClosed  {
  margin-left: 0%; /* No offset */
  width: 100%; /* Full width */
}


.stormDetOpen{
  width: 55%;
  background: white; /* White background for clarity */
  color: black; /* Black text for readability */
  /*border-top: 3px solid #e55162;   */
  padding: 1rem; /* Internal padding */
  margin-left: 20%; /* Offset from the left */
  position: fixed; /* Positioned at the bottom */
  /*bottom: 50px;  Above the footer */
  z-index: 5000; /* High z-index to overlay the map */
  width: 80%; /* 80% width for balance */
  display: flex;
  flex-direction: column; /* Stack the header and body vertically*/

}




.station_dashboard .dash-header {
  /*border: 1px solid darkgoldenrod;   */
  background-color: #eee;
  padding:0.5rem;
}
.combined_dashboard_small .dash-header {
  background-color: #eee;
  padding:0.5rem;
}

.station_dashboard .dash-header button {
  float: right; /* Align button to the right */
  background-color: #eee; /* White background for button */
  border: 0; /* No border */
  font-size: 1.5rem; /* Larger font size */
}
.combined_dashboard_small .dash-header button {
  float: right; /* Align button to the right */
  background-color: #eee; /* White background for button */
  border: 0; /* No border */
  font-size: 1.5rem; /* Larger font size */
}

.station_dashboard .dash-header button.close {
  font-weight: bold; /* Bold close button */
  float: right; /* Align button to the right */
  background-color: #eee; /* White background for button */
  border: 0; /* No border */
  font-size: 1.5rem; /* Larger font size */
}
.combined_dashboard_small .dash-header button.close {
  font-weight: bold; /* Bold close button */
  float: right; /* Align button to the right */
  background-color: #eee; /* White background for button */
  border: 0; /* No border */
  font-size: 1.5rem; /* Larger font size */
}

.station_dashboard .dash-header button.close {
  font-weight: bold; /* Bold close button */
}
.combined_dashboard_small .dash-header button.close {
  font-weight: bold; /* Bold close button */
}

.station_dashboard .dash-body {
  overflow-y: auto; /* Enable scrolling within the body*/
  padding: 1rem;
  flex: 1; /* Allow the body to take up available space*/
}
.combined_dashboard_small .dash-body {
  overflow-y: auto; /* Enable scrolling within the body*/
  padding: 1rem;
  flex: 1; /* Allow the body to take up available space*/
}

/*
/*
.station_dashboard .dash-footer {
  border: 1px solid blue;  
}  */


.header-drawer-small-screens{
  text-decoration: none;
  color: #e55162;
  display: block;        /* Ensures it takes full width for easier clicks */
  transition: color 0.3s ease; /* Smooth transition for hover effects */
  border-bottom: 1px solid #e55162; /* Light grey border to outline the block */
  border-radius: 4px;       /* Optional: adds rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center;
  width: 100%;
  padding-bottom : 5px;
}


.station_dashboard_small_screen_section{
  margin-bottom : "1.5rem";
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: auto;

}

.station_dashboard_small_screen_section .section-header{
  margin-bottom: 0.5rem;
  font-weight: bold;
}


.station_dashboard_small_screen_section p { 
  margin: 0;
  line-height: 1.5;
}
.dash-header {
  position: sticky;
  top: 0;
  z-index: 10; /* Ensure the header stays above other content */
  background-color: transparent;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  padding: 10px;
}
.historical_storm_button{
  text-decoration: none !important;
  display: block;        /* Ensures it takes full width for easier clicks */
  transition: color 0.3s ease; /* Smooth transition for hover effects */
  border-bottom: 1px solid #e55162 !important; /* Light grey border to outline the block */
  border-radius: 4px !important;       /* Optional: adds rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center !important;
  width: 100%;
  padding-bottom : 5px;
  font-weight: bold !important;
}
.storm_search_result{
  flex: 1;                /* take remaining space */
  overflow-y: auto;       /* make this scroll */
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  max-height: 81vh;
  
}

.active-drawer{
  width: 100%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.historical_storm_search_result{
  text-align: left;
  padding: 12px;
  background-color: white;
  height: 300px;
  border-radius: 4px;
  max-height: 480PX;
  width: 100%;
  overflow-y: auto;
  position: relative;
}
.historical_page_drawer_header{
  font-weight: bolder;
  
  

}

.historical_page_drawer_subheader{
  font-weight: bold;
  color: #ec1632;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: lightgrey;
  padding: 8px;
  border-bottom: 2px solid #ccc;
}


.view-filters-content{
  
  background-color: white;
  padding: 8px;
  margin-top: 3px;
  overflow-y: auto;
  max-height: 130px;
  
}

.filter_page_drawer_subheader{
  font-weight: bold;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 8px;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
}
.historical_storm_search_header{
  font-weight: bold;
  color: #ec1632;
  
}
#search_button {

}

.windrose_chart_container{
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  display:flex;
  justify-content: center;
}

.station_chart{
  height: auto;
  width: auto;
  padding: 0px;
  display: flex;
}

.storm_search_input{
  width: 77%;
  max-width: 180px;
  padding: 4px;
  margin-right: 8px;
  background: #ddd;
  font-size: 14px;
  /*border: solid 2px white; */
  cursor: text;
  border-radius: 4px; 
}


.storm_search_form{
  width: 100%;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.search-container{
  width: 100%;
}

.search-button {
  padding: 2px;
  background: transparent;
  outline: solid 2px #ddd;;
}
.search-drawer-small-screens{
  text-decoration: none;
  background-color: #e55162;
  display: block;        /* Ensures it takes full width for easier clicks */
  border: 1px solid #e55162; /* Light grey border to outline the block */
  border-radius: 4px;       /* Optional: adds rounded corners */
  text-align: center;
  width: 100%;
  padding : 5px;
}
.search-output{
  font-size: 12px !important;
  cursor: pointer;
  text-align: center;
  padding: 1.5px;

}



.search-output-space{
  text-align: left;
  padding: 12px;
  background-color: #e55162;
  height: 300px;
  border-radius: 4px;
  border: 1px solid white;
  overflow: auto;
  max-height: 500px;
  width: 100%;
  position: relative;

}

.view-filter-space{
  text-align: left;
  padding: 12px;
  background-color: #e55162;
  border-radius: 4px;
  border: 1px solid white;
  overflow: auto;
  width: 100%;
  position: relative;
  max-height: 200px;
  font-size: 12px;

}

.search-icon-small-screen{
  z-index: 6999;
  top: 175px;
  right: 11px;
  position: absolute;
  background-color: white;
  border-radius: 4px;
  color: #e55162;
  /*border: 1.8px solid rgba(155, 146, 146, 0.829); */

}



.search-render{
  top: 175px;
  z-index: 6999;
  position: absolute;
  right: 11px;
  height: 32px;
  padding: 10px; /* Adjust padding for more space */
  height: auto; /* Allow height to grow with content */
  display: flex; /* Flex to center form items vertically */
  flex-direction: row;
  width: 265px;
  justify-content: space-between;


}

.search-form{
  width: 200px;
  display: flex;
  justify-content: space-between; /* Align input and button horizontally */
  align-items: center; /* Vertically center the items */
  align-self: flex-start;
}

.close-search-icon-small-screen{
  color: white;
  font-size: large;
  cursor: pointer;
  border-radius: 30px;
  background-color: #e55162;
  min-width: auto;
  width: 32px;
  height: 32px;
  align-self: flex-end;
  padding: 6px;
  
  /*border: 1.8px solid rgba(155, 146, 146, 0.829); */

}



.small-screen-form-search-button{
  outline: solid 2px #e55162;
  padding: 3px;
}

.small_screen-storm_search_form{
  background-color: transparent;
  border-radius: 4px;
  width: 200px;


}

#small-screen-form-search-input{
  
}

.cancel-search{
  text-align : center !important;
  align-content : center !important;
  width: 100%;
  background-color: #e55162 !important;
  color: white !important;
  font-weight: bold !important;

}


#filter-icon{
  z-index: 6999;
  top: 125px;
  right: 11px;
  position: absolute;
  background-color: white;
  border-radius: 4px;
  color: #e55162;

}


#cancel-filter-icon{
  background-color: white ;
  color: #e55162;
  font-size: 20px !important;
  min-width: 0px;
  font-weight: bold !important;
  width: 35px;

}



.filter-icons-list{
  z-index: 2999;
  top: 65px;
  position: absolute;
  justify-content: center;
  align-items: center;
  

}


.filter-icons{
  background-color: white !important;
  border-radius: 15px !important;
  color: #e55162 !important;
  height: 35px;
  font-size: 12px !important;
  min-width: 0px;
  padding: 6px !important;
  border: 1px solid #e55162 !important;
  text-transform: none !important;
}



button.filter-badge{
  
  border: 1px solid #e55162 !important;
  
  margin: 0.8px;
  cursor: pointer;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  max-width: 100%;
  font-size: 12px !important;
  /*height: 32px !important; */
  border-radius: 16px !important;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  text-transform: none !important;
}


.filter-badge-icon{
  color:#e55162
}
.filter-group {
  position: relative;
  display: inline-block;  /* Keeps badges inline */
}

.filter-dropdown-menu {
  position: absolute;
  /*background-color: white;*/
  background-color: #f4f4f4;
  /*border: 1px solid #ccc;*/
  border: 2px solid #e55162;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9024;
  padding: 0px;
  
}

.filter-dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}



.shortcut-button{
  background-color: white !important;
  border: 1px solid #e55162 !important;
  color: #e55162 !important;
  margin: 0.8px;
  cursor: pointer;
  align-items: center !important;
  justify-content: center !important;
  position: relative;
  display: inline-flex;
  max-width: 100%;
  font-size: 0.8125rem !important;
  height: 32px;
  border-radius: 16px !important;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  text-transform: none !important;
}



.filter-submit-button{
  background-color: white !important;
  border: 2px solid #e55162 !important;
  color: #e55162 !important;
  margin: 0.5px;
  padding: 9px !important;
  text-align: center !important;
  cursor: pointer;
  position: relative;
  max-width: 60%;
  font-size: 12px !important;
  height: 32px !important;
  border-radius: 16px !important;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  text-transform: none !important;
}




.filter-time-input {
  width: 140px !important;
}

.filter-time-input .MuiInputLabel-root.Mui-focused {
  color: black; /* Change label color on focus */
}




 /*.MuiPickersPopper-root {
  z-index: 9999 !important; /* Ensure it appears above other elements 
 }*/


.date-card-content{
  padding: 9px !important;
  text-align: center !important;
  overflow: hidden;
}


.input-filter{
  position: absolute;
  padding: 6px;
  height: auto;
  border: 2px solid #e55162;
  background-color: #f4f4f4;
  border-radius: 8px;
  /*display: flex;
  flex-direction: column;*/
  
  
}


.input-filter-box{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.spatial-filter-icon{
  z-index: 6999;
  right: 11px;
  position: absolute;
  background-color: white;
  border-radius: 4px;
  color: #e55162;

}



.leaflet-control-container .leaflet-draw-section {
  z-index: 1000;
}

/* Adjust the width of the Draw Control toolbar */

.filters-speed-dial{
  color: #e55162 !important;
  text-decoration: none !important;
  display: flex !important;
  align-items: center !important;
  width: 40px;
  height: 40px;
  margin: 8px;
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 0.8s;
  opacity: 1;
  cursor: pointer;
  transition-delay: 30ms;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
              0px 6px 10px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 18px 0px rgba(0, 0, 0, 0.12);}


.chart-render{
  width: 100%;
  max-height: 300px;
  position: relative;
  display:flex;
  justify-content: center;
}

.leaflet-popup-content {
  margin: 5px !important;
  padding: 0 !important;
}

.filters-applied-space{
  text-align: left;
  padding: 12px;
  
  background-color: red;
  border-radius: 4px;
  border: 1px solid white;
  overflow: auto;
  max-height: 280px;
  width: 100%;
  position: relative;

}

.info-guide{
  z-index: 3000;
  position: fixed !important;
  top: 68px !important;
  right: 9px !important;
  text-align: center !important;
  height: 35px !important;
  width: 35px !important;
  padding: 0px !important;
  font-size: 0px !important;
  color:  #1E90FF !important;

}

.map-touch-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;   /* Same as drawer width */
  height: 100%;
  z-index: 9999;  /* Higher than the map */
  background: transparent; /* invisible but still intercepts touches */
}
.storm-marker {
  transition: transform 0.15s ease;
}

.storm-marker.selected {
  
  z-index: 1000;
}

@media (hover: hover) and (pointer: fine) {
  header nav ul li a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
  
  }
  .filters-speed-dial:hover{
    color: white !important;
    background-color: #e55162 !important; }
  
  #storm_timeline ul li ul li:hover {
  background-color: #DDD; /* Highlight background on hover */
  
}

  .header-drawer-small-screens:hover {
    background-color: #e55162; /* Light grey background on hover */
    border-bottom: 2px solid #b9acac; /* Dark grey bottom border on hover */
    border-radius: 4px;       /* Optional: adds rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-weight: bold;
    padding-bottom : 3px;
    color:#f5f5f5;

  }

  .historical_storm_button:hover {
    background-color: #e55162; /* Light grey background on hover */
    border-bottom: 2px solid #b9acac; /* Dark grey bottom border on hover */
    border-radius: 4px;       /* Optional: adds rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-weight: bold;
    padding-bottom : 3px;
    color:#f5f5f5;

  }
  .search-output:hover{
    padding: 1.8px;
    font-size: 13px;
    font-weight: 550;

  }
  .search-icon-small-screen:hover{
  background-color: #e55162;
  color: white;
  }
  .close-search-icon-small-screen:hover{
  background-color: transparent;
  color: #e55162;
  }
  #filter-icon:hover{
  background-color: #e55162;
  color: white;
  }
  .cancel-search:hover{
  background-color: white !important;
  color: #e55162 !important;
  }

  .filter-icons:hover{
  background-color: #e55162 !important;
  color: white !important;
  }

  .filter-dropdown-menu li:hover {
  background-color: #f2f2f2;
  }


  .shortcut-button:hover{
  background-color: #e55162 !important;
  color: white !important;
  }

  .filter-submit-button:hover{
  background-color: #e55162 !important;
  color: white !important;
  }
  .spatial-filter-icon:hover{
  background-color: #e55162;
  color: white;
  }
  /* 🔎 Focus styles for keyboard users */
  .filters-speed-dial:focus-visible,
  .header-drawer-small-screens:focus-visible,
  .historical_storm_button:focus-visible,
  .search-icon-small-screen:focus-visible,
  .close-search-icon-small-screen:focus-visible,
  #filter-icon:focus-visible,
  .cancel-search:focus-visible,
  .filter-icons:focus-visible,
  .shortcut-button:focus-visible,
  .filter-submit-button:focus-visible,
  .spatial-filter-icon:focus-visible {
    outline: 2px solid #e55162;
    outline-offset: 2px;
  }


}